<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TON Planner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='test_index.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header class="header">
            <nav class="nav">
                <ul class="menu">
                    <li class="menu__item"><a onclick="page(event, 'create')" href="#" class="menu__link menu__link--active">Tasks</a></li>
                    <li class="menu__item"><a onclick="page(event, 'manage')" href="#" class="menu__link">Manage</a></li>
                    <li class="menu__item"><a onclick="page(event, 'provider')" href="#" class="menu__link">Provider Info</a></li>
                </ul>
            </nav>


</body>
</html>